extends layout

block content

  img(src="/logo.png")

  h1 Welcome to our Factorio Server Starter

  if(!status && !serverstatus.running)

    p Enter unique token to start the game =)
    form(method="POST", action="/start")
      input(name="token")
      | &nbsp;
      button(type="submit") Start server

  if(status)
    p
      |Server:
      =status

  h3 Server address:
    |&nbsp;
    span factorio.tppt.eu
  h3 Modpack: 
    a(href="/modpack",target="new") Generate modpack.zip
    span (26MB)


  if(serverstatus.running)
    h3 Server is UP ! (pid=
      =serverstatus.pid
      |)
  else
    h3 Server is down.
