extends layout

block content

  img(src="/logo.png")

  h1 Welcome to our Factorio Server Starter

  if(!status)

    p Enter unique token to start the game =)
    form(method="POST", action="/start")
      input(name="token")
      | &nbsp;
      button(type="submit") Start server

  else
    p
      |Server:
      =status


  h3 Server address:
    |&nbsp;
    span factorio.tppt.eu

  if(serverstatus.running)
    h3 Server is UP !
  else
    h3 Server is down.
