.panel.panel-danger

  .panel-heading
    h3.panel-title
      strong Server is offline.

  .panel-body
    if(!status)
      p Enter unique token to start the game
      form(method="POST", action="/start")
        input(name="token")
        | &nbsp;
        button.btn.btn-success(type="submit") Start server
