.panel.panel-success

  .panel-heading

    h3.panel-title
      strong Server is online! (pid=
        =serverstatus.pid
        |)

  .panel-body

    h4 Online players: (
      =serverstatus.playercount
      |)

    each player in serverstatus.players
      h2.player
        =player.Name

